/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family-main: 'Inter-Variable';
  --font-family-accent: 'PressStart2P';
  --main-color: #fff;
  --accent-color: #000;
  --title-font-weight: 700;
  --main-font-weight: 400;
  --main-font-size: 18px;
  --bg-gradient-main-color: #d3d3d3;
  --bg-gradient-cover-color: #e7e7e7, #1a1a1a;
  --header-title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-subtitle-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --btn-font-color: #fff;
  --heart-main-color: #ff0000;
}
